@-moz-document domain("twitter.com") {

	/* page show area */
	.avatar	{
    	border-radius: 0px;
	}

	.edge-design .avatar {
		border-radius: 0px;
	}

	.DashboardProfileCard-avatarImage {
		border-radius: 0px;
		border: 0px;
	}

	.DashboardProfileCard-avatarLink {
		border-radius: 0px;
	}

	.AdaptiveMedia {
		border-radius: 0px;
	}

	.Gallery.is-tweetless .Gallery-media {
		border-radius: 0px;
	}

	.hovercard.profile-card .ProfileCard-avatarLink {
		padding: 0px;
	}

	.hovercard.profile-card .ProfileCard-avatarImage {
		border: 0px;
	}

	.modal-content {
		border-radius: 0px;
	}

	.PhotoRail-mediaBox .tweet-media-img-placeholder {
		border-radius: 0px;
	}

	.TwitterCard-container {
		border-radius: 0px;
	}

	.ProfileAvatar {
		border: 0px;
	}

	.ProfileAvatar-image,
	.ProfileAvatar-placeholderImage {
		border-radius: 0px;
	}

	.ProfileUserList .Avatar {
		border-radius: 0px;
	}

	.ProfileCard-avatarImage,
	.ProfileCardMini-avatarImage {
		border-radius: 0px;
	}

	.ProfileCard-avatarLink {
		border-radius: 0px;
	}

	/* top right area */
	.nav .session .dropdown-toggle,
	.nav .session .dropdown-toggle:before,
	.nav .session .dropdown-toggle:after {
		border-radius: 0px;
		box-shadow: none;
	}

	.RichEditor {
		border-radius: 0px;
		border: 0px;
	}

	.global-nav .search-input {
		border-radius: 0px;
	}

	.EdgeButton,
	.EdgeButton:visited {
		border-radius: 0px;
	}

}